<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h2 class="text-base font-semibold leading-7 text-primary">youtuutori</h2>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-neutral-900 sm:text-4xl">腰痛に困っている、これから腰痛を予防したいと考えている</h1>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-neutral-900 sm:text-4xl">そんなあなたへ送るサービスです</h1>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-primary inline-flex"></div>
      </div>
    </div>
    
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="min-w-full inline-flex items-center justify-center mb-5 flex-shrink-0">
        </div>
        <div class="flex-grow">
          <h2 class="text-neutral-900 text-xl title-font font-semibold mb-3">腰痛診断でどの運動があっているのか診断</h2>
          <p class="leading-relaxed text-base">日頃の運動量や体の硬さなどの診断に答えて、自分にどの腰痛予防運動が適切なのか診断しましょう。</p>
        </div>
      </div>

      <div class="p-4 md:w-1/3 flex flex-col text-center items-center indicator">
        <div class="min-w-full inline-flex items-center justify-center mb-5 flex-shrink-0">
        </div>
        <div class="flex-grow">
          <h2 class="text-neutral-900 text-xl title-font font-semibold mb-3">運動をこなすごとにポイント追加！</h2>
          <p class="leading-relaxed text-base">ポイントに応じてランキングが表示されます。他のユーザーと競争するのもよし。自分のペースでするのもよし。腰痛の予防をしましょう！！</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="min-w-full inline-flex items-center justify-center mb-5 flex-shrink-0">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-xl title-font font-semibold mb-3">マスコットキャラクター「腰痛トリ」を育てよう！</h2>
          <p class="leading-relaxed text-base">獲得ポイントにより「腰痛トリ」が成長します。ぜひ最後まで育ててみましょう！</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="min-w-full inline-flex items-center justify-center mb-5 flex-shrink-0">
          
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-xl title-font font-semibold mb-3">運動メニューでコメント！</h2>
          <p class="leading-relaxed text-base">運動メニューでコメントをして、この運動がきつかった、腰痛が軽くなったなどユーザー同士でコメントしましょう！</p>
        </div>
 
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center indicator">
        <div class="min-w-full inline-flex items-center justify-center mb-5 flex-shrink-0">
          
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-xl title-font font-semibold mb-3">:::</h2>
          <p class="leading-relaxed text-base">::</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center indicator">
        <div class="min-w-full inline-flex items-center justify-center mb-5 flex-shrink-0">
          
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-xl title-font font-semibold mb-3">あらかじめ登録した運動予定日に通知が来る！！</h2>
          <p class="leading-relaxed text-base">何曜日に運動するかを決めておいたらLINEで通知が来ます！</p>
          <p class="leading-relaxed text-base">（※LINEでの通知を受け取るには「腰痛トリ」公式LINEアカウントを友だち追加する必要があります。）</p>
        </div>

      <div class="hero-content max-w-full text-center py-12">
        <div class="max-w-full">
      </div>
    </div>
  </div>
</section>

<div class="container mx-auto flex justify-center">
  <div class="p-5">
    <button class="inline-flex items-center bg-green-400 border-0 py-1 px-3 focus:outline-none hover:bg-green-700 rounded text-base mt-4 md:mt-0">腰痛レベルを診断
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</div>



<div class="container mx-auto flex justify-center">
  <div class="p-5">
    <button class="inline-flex items-center bg-green-400 border-0 py-1 px-3 focus:outline-none hover:bg-green-700 rounded text-base mt-4 md:mt-0">LINEでログイン
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</div>